/*Background color*/
body { 
  background-color: purple;
  font-family: Verdana, Tahoma, Times New Roman;
}

@font-face {
  font-family: orangejuice;
  src: url(orange_juice_2.0.ttf);
  font-weight: normal;
}
h1 {
  font_family: orangejuice;
}
