/*Background color*/
body { 
  background-color: #CC99CC;
  font-family: Tahoma, Verdana, Times;
}

#mg { 
   height: 200px;
    width: 270px;
    background-color:#FF99CC;
    border-color:#336699;
    border-style: solid; 
    border-width: 3px;
    border-radius: 5px;
    text-align: center;
    display: inline;
    position: relative;
    margin-left: 65px;
}

#tg { 
   height: 200px;
    width: 270px;
    background-color:#FF99CC;
    border-color:#336699;
    border-style: solid; 
    border-width: 3px;
    border-radius: 5px;
    text-align: center;
    display: inline; 
    position: relative;
    margin-left: 25px;
}

/*Online Games for Kids Header*/
#header { 
  font-size: 45px;
}
/*Description*/
#description { 
  font-size: 25px;
  margin-top: -25px;
  text-align: center;
}
