/*Background color*/
body { 
  background-color: #CC99FF;
  font-family: Tahoma, Verdana, Times;
}

.paragraph { 
  border-style: dotted;
  font-size: 60px;
}

/*Online Games for Kids Header*/
#header { 
  font-size: 45px;
}
