@font-face { 
  font-family: Akbar; 
  src: url(akbar.ttf);
}

  body { 
  font-family: Tahoma;
  background-color: #f7c75e;
}
  #header { 
    font-family: "Akbar";
    font-size: 75px;
    color: black; 
    text-align: center;
    }
